body {
  width: calc(100vw - 60px);
  margin: 0 30px 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  padding: 20px 0 20px 0;
  margin: 0;
  text-align: left !important;
}
button {
  margin: 10px;
  width: 120px;
}
input {
  width: 250px;
  height: 20px;
  padding: 5px;
  outline: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardholder {
  width: 100%;
  width: calc(100vw - 60px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#card {
  width: calc(100% / 3 - 21.3px);
  min-width: 300px;
  height: 40vh;

  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.options,
.review {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discount {
  position: absolute;
  right: 10px;
  bottom: 50px;
  font-weight: bold;
  color: rgb(158, 27, 27);
}
.recommended {
  position: absolute;
  line-height: 15px;
  height: 55px;
  width: 55px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #ed2123;

  display: flex;
  justify-content: center;
  align-items: center;
}
